
.comment-titles{
	background-color: lightyellow;
	border-radius: 2em;
	padding-left: 2em;
	box-shadow: 0.1em 0.1em 0.05em gray;
}

.comment-message{
	background-color: lightyellow;
	border-radius: 3em;
	text-align: center;
	padding: 1em;
	box-shadow: 0.3em 0.3em 0.15em gray;
}


.comment-title{
	border-radius: 1em;
	border: 1px solid lightgray;
	padding: 1em;
	margin-bottom: 1em;
	background-color: white;
	box-shadow: 0.3em 0.3em 0.15em gray;
}


body{
	padding-top: 2em;
	background-color: lightblue;
}